/**
 * @file
 * Styles for the 'entity_switcher' form element.
 */

.entity-switcher-container {
    position: relative;
    display: inline-block;
    width: 278px;
    height: 52px;
    overflow: hidden;
}
.entity-switcher-container input {
    display: none;
}
.entity-switcher-container input:focus + .switcher-slider {
    box-shadow: 0 0 1px #fff;
}
.entity-switcher-container input:checked + .switcher-slider:before {
    -webkit-transform: translateX(134px);
    -ms-transform: translateX(134px);
    transform: translateX(134px);
}
.entity-switcher-container .switcher-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #cbcbcb;
    -webkit-transition: .4s;
    transition: .4s;
}
.entity-switcher-container .switcher-slider.switcher-round {
    border-radius: 34px;
}
.entity-switcher-container .switcher-slider:before {
    position: absolute;
    content: '';
    height: 46px;
    width: 50%;
    border-radius: 34px;
    left: 2px;
    bottom: 2px;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}
.entity-switcher-container .switcher-off {
    width: 100%;
    left: 70px;
}
.entity-switcher-container .switcher-on {
    width: 100%;
    left: 205px;
}
.entity-switcher-container .switcher-off,
.entity-switcher-container .switcher-on {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    color: #fff;
}
.entity-switcher-container .switcher-status-on:before,
.entity-switcher-container .switcher-status-off:before,
.entity-switcher-container .switcher-default:before {
    background-color: #fff;
}
.entity-switcher-container .switcher-status-off .switcher-off,
.entity-switcher-container .switcher-status-on .switcher-on {
    font-weight: bolder;
    color: #000;
}
