{#
/**
 * @file
 * Default theme implementation for a 'entity_switcher' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @ingroup themeable
 */
#}
<input{{ attributes|without('class') }} />{{ children }}
